/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html {
	font-size: 62.5%;
	height: 100%;
}

body {
	font-size: 1.5em;
	/* currently ems cause chrome bug misinterpreting rems on body element */
	
	line-height: 1.6;
	font-weight: 400;
	font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #222;
	height: 100%;
	width: 100%;
}
/* Nav
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.nav {
	width: 100%;
	height: 60px;
	background-color: rgba(0, 0, 0, 1);
	border-bottom: 0px solid rgba(0, 0, 0, 0.1);
	position: fixed;
	z-index: 999;
}

.headroom {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	transition: all .2s ease-in-out;
}

.headroom--unpinned {
	top: -100px;
}

.headroom--pinned {
	top: 0;
}

#navLinks {
	width: 100%;
	margin-top: 20px;
	text-align: right;
}

.navLink {
	color: #999;
	font-size: 12px;
	text-transform: uppercase;
}

#navlist a {
	text-decoration: none;
	color: #999;
}

#navlist a:hover {
	text-decoration: none;
	color: #ad5555;
}

#navlist li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 14px;
}

#navToggle {
	margin-left: 30px;
	display: none;
}
/* Base Divs
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html>body .contentBlock .minorBlock {
	height: auto;
}

.contentBlock {
	height: 100%;
	min-height: 100%;
	color: white;
}

.minorBlock {
	background-color: #eeeeee;
	padding-top: 5%;
	height: 110%;
	background-size: cover;
	background-attachment: fixed;
	padding-bottom: 5%;
}

#project {
	height: 90%;
}

#sheela {
	height: 110%;
	min-height: 110%;
}

#stories {
	height: 65%;
}

#contact {
	height: 110%;
}

.minorBlock h1 {
	font-family: 'Raleway', sans-serif;
	color: black;
	opacity: 1;
	font-weight: 100;
	font-size: 2em;
	padding-top: 5%;
}

.minorBlock p {
	color: #1a1a1a;
	font-size: 18px;
}

.bigText {
	font-size: 2em;
	font-weight: 300;
	line-height: auto;
}

#main {
	position: relative;
	overflow: hidden;
}

#main h1 {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	color: white;
	opacity: 1;
	font-weight: 300;
	font-size: 7em;
	margin-bottom: -10px;
}

#main h2 {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	color: white;
	opacity: 1;
	font-weight: 400;
	font-size: 4em;
	margin-bottom: -10px;
}

.minorBlock h3 {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	color: black;
	opacity: 1;
	font-weight: 400;
	font-size: 2.5em;
}

.minorBlock h4 {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	color: black;
	opacity: 1;
	font-weight: 400;
	font-size: 2em;
}

.minorBlock p {
	font-family: 'Raleway', sans-serif;
	color: black;
	opacity: 1;
	font-weight: 200;
	font-size: 1.2em;
}

#main h3 {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	color: white;
	opacity: 1;
	font-weight: 400;
	font-size: 2.5em;
}

.storyBlock h2 {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	color: white;
	opacity: 1;
	font-weight: 200;
	font-size: 4em;
}

.storyBlock h3 {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	color: white;
	opacity: 1;
	font-weight: 200;
	font-size: 4em;
}

#main p {
	font-weight: 700;
	font-size: 1.3em;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

#storyBG1 {
	background-image: url(../images/DSC_0094.JPG);
	z-index: -1;
	background-size: cover;
	background-attachment: fixed;
	min-height: 100%;
}

#storyBG2 {
	background-color: darkgrey;
	z-index: -1;
	background-size: cover;
	background-attachment: fixed;
}

#storyBG3 {
	background-color: darkgrey;
}

#storyBG4 {
	background-color: darkgrey;
	z-index: -1;
	background-size: cover;
	background-attachment: fixed;
	height: 30%;
}

#storyBG5 {
	background-color: darkgrey;
	z-index: -1;
	background-size: cover;
	background-attachment: fixed;
	height: 30%;
}

#down {
	margin-top: 5%;
}

.btn-sheela {
	color: lightgrey;
	background-color: black;
}

.footer {
	background: black;
	height: 10%
}

a {
	color: #1EAEDB;
}

a:hover {
	color: #0FA0CE;
}
/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*

Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/
/* Larger than mobile */

@media (min-width: 320px) {
	/* Larger than phablet (also point when grid becomes active) */
	
	#nav {
		height: 150px;
	}
	#navToggle {
		margin-left: 20px;
		display: block;
		color: white;
		float: left;
		width: 20px;
		height: 30px;
	}
	#navLinks {
		width: 100%;
		margin-top: 30px;
		text-align: right;
	}
	.navLink {
		color: #999;
		font-size: 12px;
		text-transform: uppercase;
	}
	#navlist a {
		text-decoration: none;
		color: #999;
	}
	#navlist a:hover {
		text-decoration: none;
		color: cornsilk;
	}
	#navlist li {
		display: inline;
		list-style-type: none;
		padding-right: 10px;
		font-weight: 700;
		text-transform: uppercase;
		font-size: 12px;
	}
	#main h2 {
		font-size: 1.5em;
	}
	#main h3 {
		font-size: 1.3em;
	}
	#main {
		margin-top: 45%
	}
	#storyBG2 {
		height: 90px;
		position: relative;
	}
	.storyBlock h2 {
		font-size: 2em;
	}
	#storyBG3 {
		height: 90px;
	}
	.storyBlock h3 {
		font-size: 2em;
	}
	#storyBG4 {
		height: 90px;
	}
	#storyBG5 {
		height: 90px;
	}
	.minorBlock h3 {
		font-size: 1em;
	}
	.minorBlock h4 {
		font-size: .9em;
	}
	.minorBlock p {
		font-size: .75em;
	}
	.minorBlock hr {
		border-top: 0.5px solid black;
	}
	#down {
		margin-top: 10%;
	}
}

@media (min-width: 768px) {
	#navToggle {
		display: none;
	}
	.minorBlock {
		background-color: #eeeeee;
		padding-top: 5%;
		padding-bottom: 5%;
		height: 85%;
		background-size: cover;
		background-attachment: fixed;
	}
	#project {
		height: 55%;
		min-height: 55%;
	}
	#sheela {
		height: 85%;
		min-height: 85%;
	}
	#stories {
		height: 65%;
		min-height: 65%;
	}
	#contact {
		height: 85%;
		min-height: 85%;
	}
	#main h2 {
		font-size: em;
	}
	#main h3 {
		font-size: 2.5em;
	}
	#main {
		position: relative;
		overflow: hidden;
		margin-top: 25%
	}
	#storyBG2 {
		height: 15%;
	}
	.storyBlock h2 {
		font-size: 3em;
		margin-top: 3%;
	}
	#storyBG3 {
		background-color: darkgrey;
		z-index: -1;
		background-size: cover;
		background-attachment: fixed;
		height: 10%;
	}
	.storyBlock h3 {
		font-family: 'Raleway', sans-serif;
		text-transform: uppercase;
		color: white;
		opacity: 1;
		font-weight: 200;
		font-size: 3em;
	}
	#storyBG4 {
		background-color: darkgrey;
		z-index: -1;
		background-size: cover;
		background-attachment: fixed;
		height: 10%;
	}
	#storyBG5 {
		background-color: darkgrey;
		z-index: -1;
		background-size: cover;
		background-attachment: fixed;
		height: 10%;
	}
	.minorBlock h3 {
		font-family: 'Raleway', sans-serif;
		text-transform: uppercase;
		color: black;
		opacity: 1;
		font-weight: 400;
		font-size: 2.5em;
	}
	.minorBlock h4 {
		font-family: 'Raleway', sans-serif;
		text-transform: uppercase;
		color: black;
		opacity: 1;
		font-weight: 400;
		font-size: 1.7em;
	}
	.minorBlock p {
		font-size: 1.2em;
	}
	#down {
		margin-top: 5%;
	}
}
/* Larger than desktop */

@media (min-width: 1000px) {
	.minorBlock {
		background-color: #eeeeee;
		padding-top: 5%;
		padding-top: 5%;
		min-height: 60%;
		background-size: cover;
		background-attachment: fixed;
	}
	.minorBlock h1 {
		font-family: 'Raleway', sans-serif;
		color: black;
		opacity: 1;
		font-weight: 100;
		font-size: 2em;
		padding-top: 5%;
	}
	.minorBlock p {
		color: #1a1a1a;
		font-size: 18px;
	}
	#project {
		height: 120%;
	}
	#sheela {
		height: 110%;
	}
	#stories {
		height: 120%;
	}
	#contact {
		height: 110%;
	}
	#main {
		position: relative;
		overflow: hidden;
		margin-top: 15%;
	}
	#main h1 {
		font-family: 'Raleway', sans-serif;
		text-transform: uppercase;
		color: white;
		opacity: 1;
		font-weight: 300;
		font-size: 7em;
	}
	#main h2 {
		font-family: 'Raleway', sans-serif;
		text-transform: uppercase;
		color: white;
		opacity: 1;
		font-weight: 400;
		font-size: 6em;
	}
	.minorBlock h3 {
		font-family: 'Raleway', sans-serif;
		text-transform: uppercase;
		color: black;
		opacity: 1;
		font-weight: 400;
		font-size: 3em;
	}
	.minorBlock h4 {
		font-family: 'Raleway', sans-serif;
		text-transform: uppercase;
		color: black;
		opacity: 1;
		font-weight: 400;
		font-size: 2em;
	}
	.minorBlock p {
		font-family: 'Raleway', sans-serif;
		color: black;
		opacity: 1;
		font-weight: 200;
		font-size: 1.7em;
	}
	#main h3 {
		font-family: 'Raleway', sans-serif;
		text-transform: uppercase;
		color: white;
		opacity: 1;
		font-weight: 400;
		font-size: 2.5em;
	}
	.storyBlock h2 {
		font-family: 'Raleway', sans-serif;
		text-transform: uppercase;
		color: white;
		opacity: 1;
		font-weight: 200;
		font-size: 6em;
	}
	.storyBlock h3 {
		font-family: 'Raleway', sans-serif;
		text-transform: uppercase;
		color: white;
		opacity: 1;
		font-weight: 200;
		font-size: 6em;
	}
	#main p {
		font-weight: 700;
		font-size: 1.3em;
	}
	.center {
		margin-left: auto;
		margin-right: auto;
	}
	#storyBG1 {
		background-image: url(../images/DSC_0094.JPG);
		z-index: -1;
		background-size: cover;
		background-attachment: fixed;
		height: 100%;
	}
	#storyBG2 {
		background-color: darkgrey;
		z-index: -1;
		background-size: cover;
		background-attachment: fixed;
		height: 30%;
	}
	#storyBG3 {
		background-color: darkgrey;
		z-index: -1;
		background-size: cover;
		background-attachment: fixed;
		height: 30%;
	}
	#storyBG4 {
		background-color: darkgrey;
		z-index: -1;
		background-size: cover;
		background-attachment: fixed;
		height: 30%;
	}
	#storyBG5 {
		background-color: darkgrey;
		z-index: -1;
		background-size: cover;
		background-attachment: fixed;
		height: 30%;
	}
	#down {
		margin-top: 2.5%;
	}
	.btn-sheela {
		color: lightgrey;
		background-color: black;
	}
	.footer {
		background: black;
		height: 10%
	}
}
/* Larger than Desktop HD */

@media (min-width: 1200px) {}